<%- include("template/header", {title: 'Kanban Page'}) %>
<%- include('template/navbar') %>
<%- include('template/aside') %>

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('template/breadcrumb', {module: 'Kanban'}) %>
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Control panel</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

               <h2>Kanban page</h2>
             
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->

<%- include('template/footer') %>